// Viewports
$phone-width-only: 599px;
$tablet-width: 600px;

// Fonts
$main-font: 'PT Sans Caption', 'Arial', sans-serif;

// Colors
$white--text: #ffffff;
$black--text: #000000;
$gray--lightest: #dcdcdc;
$gray--lighter: #d1d1d1;
$gray--light: #bdbdbd;
$gray: #9e9e9e;
$gray--dark: #7e7e7e;
$gray--darkest: #7b7b7b;

$background-color--main: #ffffff;
$accent-color: #fd7d36;
$accent-color--hover: #ff9e68;
$accent-color--active: #ff7528;
$warning-color: #fd3636;
$warning-color--hover: #ff8484;
