.counter {
  max-width: 560px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.counter__heading {
  margin: 0;
  margin-bottom: 22px;
  color: $white--text;
  text-align: center;
}

.counter__form {
  margin-bottom: 20px;
  padding: 39px 32px 43px;
  border-radius: 16px;
  background-color: $background-color--main;
}



.counter__result {
  padding: 32px;
  opacity: 1;
  visibility: visible;
  border-radius: 12px;
  background-color: $background-color--main;
  transition: 0.6s ease;
  transition-property: opacity, visibility;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.counter__result > .heading {
  margin-bottom: 12px;
  color: $accent-color;
}

.counter__result-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  @include for-tablet-up {
    flex-direction: row;
  }
}

.counter__result-item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @include for-tablet-up {
    display: block;
    max-width: 124px;
    margin-bottom: 0;
  }

  h3 {
    flex-shrink: 0;
    margin: 0;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;

    @include for-tablet-up {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }

  p {
    margin: 0;
    color: $gray--dark;
  }
}
