.radio__wrapper {
  width: fit-content;

  label {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
    transition: 0.3s ease;
    transition-property: color, box-shadow;

    &::before {
      content: '';
      flex-shrink: 0;
      display: block;
      width: 32px;
      height: 24px;
      margin-top: 1px;
      padding-right: 8px;
      background: url("../img/icons/icon-radio-empty.svg") 0 0 / 24px 24px no-repeat;
      cursor: pointer;
      transition: 0.3s ease;
      transition-property: background;
    }
  }


}

.radio__wrapper input[type="radio"]:checked + label::before {
  background: url("../img/icons/icon-radio-checked.svg") 0 0 / 24px 24px no-repeat;
}

.radio__wrapper label:hover,
.radio__wrapper input[type="radio"]:checked + label {
  color: $accent-color;
}

.radio__description {
  margin: 0;
  margin-left: 32px;
  margin-top: 3px;
  padding-bottom: 2px;
  color: $gray--light;
}
