.switcher {
  display: flex;
  margin: 0;
  padding: 0;
  line-height: 23px;
  text-align: center;
  border-radius: 4px;
  list-style: none;
}

.switcher__item {
  flex: 1 1 0;

  &:first-of-type label {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  &:only-child label {
    border-radius: 4px;
  }

  label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px;
    color: $black--text;
    user-select: none;
    cursor: pointer;
    border: solid 0.5px $accent-color;
    background-color: transparent;
    transition: 0.3s ease;
    transition-property: color, border, background, z-index, margin;
  }

  label:hover {
    color: $accent-color;
  }

  input[type="radio"]:checked + label {
    color: $white--text;
    border-color: transparent;
    background-color: $accent-color;
  }

  input[type="radio"]:checked + label:hover {
    color: $white--text;
  }
}

.switcher__item + .switcher__item {
  margin-left: -1px;
}
